<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav cus_nav_out">
      <div class="container">
        <div class="cus_nav_in row">
          <a class="navbar-brand text-light col-sm-2" href="#" >E-Commerce</a>
        <div class='col-sm-4'>
            <input  class='cus_head_search' placeholder="search products,brands and more" autocomplete="off"/>
            <i class="fa fa-search" style='font-size: 50px;'></i>
        </div>
        </div>
      </div>

      <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
    </div>
  </div>
</nav>
