<app-header></app-header>
<div class="container">
  <div class="home">
    <div class="category-list mt-4">
      <div class="row p-4">
        <div class="col-sm-2">
          <div>Electronic</div>
        </div>
        <div class="col-sm-2">
          <div>Fashion</div>
        </div>
        <div class="col-sm-2">
          <div>Toys</div>
        </div>
        <div class="col-sm-2">
          <div>Mobiles</div>
        </div>
        <div class="col-sm-2">
          <div>Travel</div>
        </div>
        <div class="col-sm-2">
          <div>Grocery</div>
        </div>
      </div>
    </div>
  </div>
</div>
